.orange-bg{
    background-color: pink; 
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: hotpink;
}
.buy-now{
    background-image: linear-gradient(to bottom, #ff5898 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 9px 25px ;
    cursor: pointer;
}
.container{
    margin-bottom: 100px;
}